<div class="position-relative">
    <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="card mb-3">
            <div class="card-header">
                <span class="text-muted fw-bold">Participants</span>
            </div>
            <div class="card-body">
                <div class="row" *ngIf="signupsParticipant?.length">
                    <div class="col-12">
                        <table class="table table-striped table-bordered border-primary table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 40%">participant</th>
                                    <th scope="col" style="width: 20%">Title</th>
                                    <th scope="col" style="width: 20%">TimeSlot</th>
                                    <th scope="col" style="width: 20%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let participant of signupsParticipant">
                                    <td>
                                        <div class="justify-content-center" *ngIf="participant.Contact">
                                            <p>
                                                {{ participant.Contact[0].FirstName }}&nbsp;{{
                                                participant.Contact[0].LastName
                                                }}
                                            </p>
                                        </div>
                                    </td>
                                    <td *ngIf="participant.Signups">

                                        <div class="justify-content-center">
                                            <p>
                                                {{ participant?.Signups?.[0]?.Title }}
                                            </p>
                                        </div>
                                    </td>
                                    <td *ngIf="participant.Signups">

                                        <div class="justify-content-center">
                                            <p>
                                                {{ participant?.Signups?.[0]?.TimeSlot?.StartTime +'-'+
                                                participant?.Signups?.[0]?.TimeSlot?.EndTime}}
                                            </p>
                                        </div>
                                    </td>


                                    <td>
                                        <button class="btn btn-sm btn-outline-primary"
                                            (click)="SendEmail( participant.Contact?.[0]?.Email??'None', modalTitle )">
                                            <i class="fas fa-envelope fa-lg"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Display only when components has not any items-->
                <div class="row" *ngIf="signupsParticipant?.length == 0">
                    <p>No signups are found.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-cancel btn-warning" (click)="activeModal.close('Close click')">
            Cancel
        </button>
        <button type="button" *ngIf="signupsParticipant.length > 0" class="btn btn-primary"
            [disabled]="this.contributionForm.invalid" (click)="onDownloadCSV()">
            Download
        </button>
    </div>
</div>