<div class="container mt-5">
    <div class="row  mt-3">
        <div class="col text-center">
            <p class="fs-5"> Browse meet-n-pray</p>
        </div>
    </div>
</div>
<div class="container pb-3 mt-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <aside class="col-sm-3 text-dark flex-grow-sm-1 flex-shrink-1 flex-grow-0 pb-sm-0 pb-3">
            <div class="border rounded-3 p-1">
                <app-meetings-siderbar></app-meetings-siderbar>
            </div>
        </aside>
        <div class="col overflow-auto h-100">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>