<form *ngIf="componentsForm" novalidate [formGroup]="componentsForm">
  <div class="position-relative">
    <div class="modal-header">
      <h4 class="modal-title">{{modalTitle}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="card mb-3">
        <div class="card-header">
          <!--<span class="text-muted fw-bold">Case</span>-->
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="Title" placeholder="Title your component" />
              <ul *ngIf="
                  componentsForm.controls['Title'].invalid &&
                  (componentsForm.controls['Title'].dirty ||
                    componentsForm.controls['Title'].touched)
                " class="text-danger list-unstyled">
                <li class="fs-6" [innerHtml]="
                    componentsFormValidation(
                      'Title',
                      componentsForm.controls['Title'].errors
                    )
                  "></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group mb-3">
                <label class="fs-6">Start Date</label>
                <input type="date" class="form-control" formControlName="StartDate" name="StartDate" maxlength="20"
                  (change)="onDateChange()" placeholder="Enter Start Date" />
                <ul *ngIf="
                        componentsForm.controls['StartDate'].invalid &&
                        (componentsForm.controls['StartDate'].dirty ||
                          componentsForm.controls['StartDate'].touched)
                      " class="text-danger list-unstyled">
                  <li class="fs-6" [innerHtml]="
                         componentsFormValidation(
                            'Start date',
                            componentsForm.controls['StartDate'].errors
                          )
                        "></li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group mb-3">
                <label class="fs-6">End Date</label>
                <input type="date" class="form-control" formControlName="EndDate" name="EndDate" maxlength="20"
                  (change)="onDateChange()" placeholder="Enter End Date" />
                <ul *ngIf="
                        componentsForm.controls['EndDate'].invalid &&
                        (componentsForm.controls['EndDate'].dirty ||
                          componentsForm.controls['EndDate'].touched)
                      " class="text-danger list-unstyled">
                  <li class="fs-6" [innerHtml]="
                          componentsFormValidation(
                            'End date',
                            componentsForm.controls['EndDate'].errors
                          )
                        "></li>
                </ul>
              </div>
            </div>
            <div class="mb-3">
              <div class="text-danger">{{ dateError }}</div>
            </div>
          </div>

          <div class="row">
            <div class="col-auto">
              <div class="row">
                <div class="col-auto">

                  <div class="form-check form-switch">
                    <label class="form-check-label">
                      <input class="form-check-input"  type="checkbox" formControlName="IsPublished"
                        name="IsPublished"> Publish
                    </label>
                  </div>


                  <input type="hidden" formControlName="MeetingId" name="MeetingId" />
                  <input type="hidden" formControlName="MeetingComponentId" name="MeetingComponentId" />
                  <input type="hidden" formControlName="ComponentLookupTypeId" name="ComponentLookupTypeId" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-cancel btn-warning" (click)="activeModal.close('Close click')">
        Cancel
      </button>
      <!--
      <button type="button" class="btn px-3 action_buttons text-white" [disabled]="acomponentsForm.invalid" (click)="saveAndAddNewRecord()">Save & Add
        Another Record
      </button> -->

      <button *ngIf="this.componentsForm.controls['MeetingComponentId'].value>0" type="button" class="btn btn-danger"
        [disabled]="this.componentsForm.invalid"
        (click)="openConfirmDeleteModal(componentsForm.controls['MeetingComponentId'].value)">
        Delete
      </button>
      <button type="button" class="btn btn-primary" [disabled]="componentsForm.invalid"
        (click)="onCreateUpdateMeetingComponent()">
        Save
      </button>
    </div>
  </div>
</form>

<!--Delete Lower Court Modal-->
<ng-template #confirmDelete let-modal>
  <div class="modal-body">
    <p class="fs-5">Are you sure you want to delete this meeting component?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeDeleteMeetingModal(modal)">
      No
    </button>
    <button type="button" class="btn btn-primary" (click)="confirmDeleteMeeting(modal)">
      Yes
    </button>
  </div>
</ng-template>