<div class="container-fluid mb-3 mt-3">
  <div class="row mb-3">   
    <div class="col-auto">
      <button
        type="button"
        class="btn btn-primary text-white mx-2 mb-2 rounded-pill"
        title="Add Court of Appeal Case"
        (click)="openContributionComponentModal(0)"
      >
        <i class="fas fa-square-plus fa-lg me-3"></i>
        <span>Create New Contribution Component</span>
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="meetingContributionComponents.length">
  <div class="card mb-3" *ngFor="let component of  meetingContributionComponents">
    <div class="card-header">
      <div class="row">
       <div class="col-auto">
          <button type="button" class="btn action_buttons text-white m-lg-2 mb-2"
           (click)="openContributionComponentModal(component?.MeetingComponentId)"
          >
            <i class="fas fa-pen fa-lg me-3"></i>
            <span
              >Edit&nbsp;{{component.Title}} &nbsp;Component</span
            >
          </button>
        </div>
        
       <div class="col-auto">
          <button
            type="button"
            class="btn action_buttons text-white m-lg-2 mb-2 float-end"
            (click)="openContributionListModal(component,0)"
          >
            <i class="fas fa-plus fa-lg me-3"></i>
            <span>Create&nbsp;{{component.Title}} &nbsp;Contribution List</span>
          </button>
        </div>

        <div class="col-auto">
          <button
            type="button"
            class="btn action_buttons text-white m-lg-2  mb-2 float-end"
            (click)="openViewContributionsModal(component)"
          >
            <i class="fas fa-expand fa-lg me-3"></i>
            <span>View&nbsp;{{component.Title}} &nbsp;Contributions</span>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">   
      <div class="row" *ngIf="component.Contributions?.length">       
        <div class="col-12">
         <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col" style="width: 80%;"></th>
                    <th scope="col" style="width: 20%;"></th>                    
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let contribution of component.Contributions">
                    <td>
                      <!--Displays Monetary contribution story-->
                      <div class="justify-content-center" *ngIf="contribution.Category==='Monetary'">
                        <p><strong>Contribution&nbsp;Type:</strong>&nbsp;<span>{{contribution.Category}}</span></p>                       
                        <p><strong>Story:</strong>&nbsp;<span>{{contribution.LongDescription}}</span></p>                 
                     
                      </div>
                       <!--Displays Items contribution story-->
                       <div class="justify-content-center" *ngIf="contribution.Category==='Items'">
                        <p><strong>Item:</strong>&nbsp;<span>{{contribution.ItemName}}</span></p>
                        <p><strong>Quantity:</strong>&nbsp;<span>{{contribution.Quantity}}</span></p>
                        <p><strong>Measurement:</strong>&nbsp;<span>{{contribution.Measure}}</span></p>
                        <p><strong>Contribution&nbsp;Type:</strong>&nbsp;<span>{{contribution.Category}}</span></p>
                        <p><strong>Description:</strong>&nbsp;<span>{{contribution.ShortDescription}}</span></p>                  
                        </div>
                    </td>                
                      <td> 
                      <button class="btn btn-sm btn-outline-primary" (click)=" openContributionListModal(component, contribution.MeetingContributionId)">
                            <i class="fas fa-pencil"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
      <!--Display only when components has not any items-->
       <div class="row" *ngIf="!component.Contributions">
       <p>No Items are listed on this contribution component.</p>
       </div>
    </div>
  </div>
</ng-container>
